In [1]:
import pandas as pd

In [12]:
s = pd.Series(list('mcoisenbvilebrigernbvs'))
s

0     m
1     c
2     o
3     i
4     s
5     e
6     n
7     b
8     v
9     i
10    l
11    e
12    b
13    r
14    i
15    g
16    e
17    r
18    n
19    b
20    v
21    s
dtype: object

In [13]:
s.unique()

array(['m', 'c', 'o', 'i', 's', 'e', 'n', 'b', 'v', 'l', 'r', 'g'],
      dtype=object)

In [14]:
s.value_counts()

i    3
e    3
b    3
s    2
n    2
v    2
r    2
m    1
c    1
o    1
l    1
g    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64